<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="crypto, mining, animation, example, examples">
    <meta name="author" content="Creativegigs">
    <meta name="description" content="cryto is a beautiful website template designed for bitcoin crypto currency mining and exchange websites.">
    <meta name="og:image" content="/static/images/home/ogg.png">
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- For Resposive Device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Custom</title>

    <link rel="icon" type="image/png" sizes="56x56" href="/static/images/fav-icon/icon.ico">

    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/static/css/color-one.css">
    <style>
        .logo {
            display: inline-block;
        }
        
        .center {
            margin: 2% auto;
        }
    </style>
</head>

<body>
    <div class="main-page-wrapper">


        <!-- ********************** Loading Transition ************************ -->
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>

        <div class="html-top-content">
            <!-- ********************** Theme Top Banne & Header ************************ -->
            <div class="theme-top-section">
                <!-- ^^^^^^^^^^^^^^^^^ Theme Menu ^^^^^^^^^^^^^^^ -->
                <header style="margin-top:3%">
                    <div class="container">
                        <div class="menu-wrapper clearfix">
                            <div class="logo">
                                <a href="/"><img src="/static/images/logo/logo.png" alt="Logo"></a>
                            </div>

                            <div class="logo" style="float:right;">
                                <img src="/static/images/icon/custom.png" alt="WWI">
                            </div>

                            <!-- /.right-widget -->

                        </div>
                        <!-- /.menu-wrapper -->
                    </div>
                    <!-- /.container -->
                </header>
                <!-- /.theme-main-menu -->



            </div>


        </div>

        <div class="container text-center ">

            <h2 align="center" class="title-pad">Upload new File</h2>
            <div>
                <form method="post" action="/upload" enctype="multipart/form-data"> <input class="border-secondary border" type="file" name="file">
                    <fieldset class="container" style="padding-top: 20px">
                        <input type="submit" value="Upload" class="btn btn-success">
                    </fieldset>

                </form>
            </div>
        </div>
        <div class="container text-center">
            <h3 align="center" class="title-pad">Structure of File to be Uploaded</h3>
            <div>
                <ul>
                    <li>Questions</li>
                    <li>Chapter/ part</li>
                    <li>Fact</li>
                    <li>Options</li>
                    <li>Further questions for those options.</li>
                </ul>

            </div>

        </div>



    </div>
    <!-- /.main-page-wrapper -->
    <!-- Js File_________________________________ -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- jQuery -->
    <script src="/static/vendor/jquery.2.2.3.min.js"></script>
    <!-- Popper js -->
    <script src="/static/vendor/popper.js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Vendor js _________ -->
    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Language Stitcher -->
    <script src="/static/vendor/language-switcher/jquery.polyglot.language.switcher.js"></script>
    <!-- js count to -->
    <script src="/static/vendor/jquery.appear.js"></script>
    <script src="/static/vendor/jquery.countTo.js"></script>
    <!-- Fancybox -->
    <script src="/static/vendor/fancybox/dist/jquery.fancybox.min.js"></script>
    <!-- owl Carousel -->
    <script src="/static/vendor/owl-carousel/owl.carousel.min.js"></script>
    <!-- AOS js -->
    <script src="/static/vendor/aos-next/dist/aos.js"></script>



    <!-- Theme js -->
    <script src="/static/js/theme.js"></script>



</body>

</html>